# HYPOTHESIS TESTING

## Part 2
### Mizzare Corporation customer satisfaction levels

#### Given data

Inserting the values in a dataframe, so that it is easier to calculate the values and see the values

In [69]:
import pandas as pd
table = [[50,70],
[80,  100],
[60,90] ,
[30,50],
[20,50]]
sat = pd.DataFrame(table, index =[ "Very Satisfied","Satisfied","Neutral","Unsatisfied", "Very Unsatisfied"], columns=["Smart Thermostat", "Smart Light"])
sat['Total'] = [sum(i) for i in table]
sat

                  Smart Thermostat  Smart Light  Total
Very Satisfied                  50           70    120
Satisfied                       80          100    180
Neutral                         60           90    150
Unsatisfied                     30           50     80
Very Unsatisfied                20           50     70

#### a. State the Hypotheses

+ Null hypothesis: There is no significant association between the type of smart home device purchased and the customer satisfaction level. 
+  Alternative Hypothesis:  The type of smart home device purchased and the customer satisfaction level are related to each other.

The test we are going to do is Chi Square test of independence 
 
 For that we need to first calculate the test statistic
 
 #### b. Test statistics
 
 The formula to calculate the Chi square statistics is:
$ \chi^2 = \sum \frac{(O_i - E_i)^2}{E_i}$

Where:
- ( $O_i $) = Observed frequency for category ( i )
- ($ E_i $) = Expected frequency for category ( i )

The formula for calculating the expected value:
$E = \frac{(\text{Row Total} \times \text{Column Total})}{\text{Grand Total}}$

We will calculate the expected value using the built in function in python and store that in our dataframe

In [70]:
import scipy.stats as stats  
stat, p, dof, expected = stats.chi2_contingency(sat[["Smart Thermostat","Smart Light"]])
expected

array([[ 48.,  72.],
       [ 72., 108.],
       [ 60.,  90.],
       [ 32.,  48.],
       [ 28.,  42.]])

In [71]:
sat["Smart Thermostat Expected"] = [i[0] for i in expected]
sat["Smart Light Expected"] = [i[1] for i in expected]
sat

,Smart Thermostat,Smart Light,Total,Smart Thermostat Expected,Smart Light Expected
Very Satisfied,50,70,120,48.0,72.0
Satisfied,80,100,180,72.0,108.0
Neutral,60,90,150,60.0,90.0
Unsatisfied,30,50,80,32.0,48.0
Very Unsatisfied,20,50,70,28.0,42.0

Now, we wills store the chi square contributions then we will proceed to calculate the chi square test statistic

In [73]:
sat["Chi sq Thermo"] = (sat["Smart Thermostat"] - sat["Smart Thermostat Expected"])**2/sat["Smart Thermostat Expected"]
sat["Chi sq Light"] =( sat["Smart Light"] - sat["Smart Light Expected"])**2/sat["Smart Light Expected"]
sat

,Smart Thermostat,Smart Light,Total,Smart Thermostat Expected,Smart Light Expected,Chi sq Thermo,Chi sq Light
Very Satisfied,50,70,120,48.0,72.0,0.083333,0.055556
Satisfied,80,100,180,72.0,108.0,0.888889,0.592593
Neutral,60,90,150,60.0,90.0,0.000000,0.000000
Unsatisfied,30,50,80,32.0,48.0,0.125000,0.083333
Very Unsatisfied,20,50,70,28.0,42.0,2.285714,1.523810

In [75]:
chi_sq = sat["Chi sq Thermo"].sum() +sat["Chi sq Light"].sum()
chi_sq

5.638227513227513

#### c. Determine the Critical Value

##### Degree of freedom = (Number of rows - 1) $x$ (Number of columns - 1)

Hence, df = 4

According to the chi square distribution, the critical value is 9.488 at alpha = 0.05.

#### d. Final decision and conclusion

According to the chi square distribution, the critical value is 9.488.
Our test statistics is less than critical value. Also, the p-value(0.0.228) which is given above is greater than alpha.
##### Hence, we fail to reject null hypothesis
#### There is no statistically significant association between th type of smart home device purchased and the customer satisfaction level. Any observed differences in the table are likely due to random chance.



## End of assignment